
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    width: 100%;
    font-family: Lato, sans-serif;;
    margin: 0 auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}
#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  background: #999;
}
.container{
  /* margin: 0 auto; */
}
nav {
	color: white;
}
nav ul {
	display: flex;
  flex-flow: row;
  justify-content: flex-end;
	margin: 0;
	padding: 6px;
  list-style-type: none;
  color: #333;
}
nav a{
  display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: #333;
	text-decoration: none;
}
nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
nav a:hover{
  text-decoration: none;
}
nav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
nav a:hover::after {
  transform: scale(1, 1);
}

nav li.nav_home{
  margin-right: auto; 
  font-size: 2rem;
}
.bg-img{
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(./images/my_photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}
/* .title{
  position: relative;
} */
.t-content{
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  font-size: 1.4rem;
  background: rgb(227,246,245,0.7);
  text-align: center;
  color: #aaa;
  padding: 10px;
}
.t-content .t-title{
  color: red;
  font-size: 2.5rem;
}
.t-content .t-message{
  font-size: 1.7rem;
}
.bg-non{
  background: white;
  padding-bottom:50px;
  margin:0 30px;
}
h2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* h2 span{
  text-align: center;
  border-bottom: 3px solid;
  padding-bottom: 5px;
} */
.bg-non .profile{
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile .p-img{
  width: 30%;
  text-align: center;
}
.p-img img{
  width: 300px;
  height: 300px;
  margin: 10px;
}
.m-sns{
  text-align: center;
}
.m-sns .fa-large{
  font-size: 20px;
}
.profile .m-content{
  width: 70%;
}
dl{
  padding: 20px;
}
.m-content dl dt{
  clear: both;
}
.profile .m-content{
  background: rgb(227,246,245,0.7);
  padding: 10px;
}
.m-con-title{
  float: left;
}
.m-con-element{
  float: left;
}
.bg{
  background:#bae8e8;
  padding-bottom: 50px;
}
h3{
  text-align: center;
  padding-top:30px ;
  padding-bottom: 80px;
}
.w-skill{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.w-skill-content .fa{
  display: inline-block;
  text-align: center;
}
.w-skill .w-skill-content p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.m-per{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.m-per-content a img{
  border: solid 2px #e6e6e6;
  width:300px;
  height: 500px;
}
.m-per-content p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  color: black;
  text-decoration: none;
}
